:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

button {
  color: white;
  background: #fd1313 !important;
  width: 120px;
  height: 40px;
  border-radius: 7px !important;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-menu {
}

.nav-menu img {
  width: 30%;
}

.nav-menu button{
  float: right;
}

.header h5 {
  font-size: 32px !important;
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  margin-top: 30px;
  filter: drop-shadow(0 0 0.75rem rgba(7, 0, 0, 0.7));
}

.header p {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  filter: drop-shadow(0 0 0.75rem rgba(7, 0, 0, 1)) !important;
  font-size: 22px !important;
}

.header-form {
  margin-top: 10px;
  text-align: center;
}

.header-form input {
  color: white !important;
  border: 1px solid gray;
  background: rgba(0, 0, 0, 0.35);
  padding: 10px 15px;
  border-radius: 7px;
}

header {
  background-image: url("img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 900px;
  padding: 10px 15px;
}

.header-button {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.header-button button {
  width: 180px;
  height: 50px;
  font-size: 20px;
}

